.editor-container {
  margin-top: 100px;
  display: flex;

}

.editor-input {

  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 4px;
}

.editor-button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editor-button:hover {
  background-color: #0056b3;
}
.editor-input:focus {
  border-bottom-color:#007bff; /* 마우스 호버시 밑줄 강조 */
  outline: none;
}